+font(OpenSans-SemiBold, OpenSans-SemiBold)
+font(OpenSans-Regular, OpenSans-Regular)
+font(OpenSans-Italic, OpenSans-Italic)
+font(OpenSans-BoldItalic, OpenSans-BoldItalic)
+font(OpenSans-SemiBoldItalic, OpenSans-SemiBoldItalic)
+font(Raleway-Regular, Raleway-Regular)
+font(KaushanScript-Regular, KaushanScript-Regular)

=kaushan
	font-family: KaushanScript-Regular, Arial, sans-serif
=semi
	font-family: OpenSans-SemiBold, Arial, sans-serif
=regular
	font-family: OpenSans-Regular, Arial, sans-serif
=italic
	font-family: OpenSans-Italic, Arial, sans-serif
=bold-italic
	font-family: OpenSans-BoldItalic, Arial, sans-serif
=semibold-italic
	font-family: OpenSans-SemiBoldItalic, Arial, sans-serif
=raleway
	font-family: Raleway-Regular, Arial, sans-serif

html
	font-size: 2vw

body
	font-size: 1.7rem
	+regular
	background: #FFF
	line-height: 1.2
	color: #000000

p
	margin: 1rem 0

input
	border-radius: 0

.align-right
	text-align: right

.addition-info
	font-size: 1.45rem
	+semi

.price-box
	display: inline-block
	+raleway
	background-image: url("../img/price-bage.png")
	background-size: 100% 100%
	background-repeat: no-repeat
	padding: 0.2rem 1.3rem 1.5rem 2rem

.bonus-pay
	color: #0078ff
	+semi

.title
	+semi
	font-weight: 400
	font-size: 2.9rem
	text-align: center
	margin-bottom: 1rem

.text-lg
	font-size: 3.23rem
	margin: 1rem 0
	& + &
		margin-top: 5rem
	&--center
		text-align: center

.app
	padding-top: 9rem
	padding-bottom: 9rem
	position: relative
	transition: 0.3s
	min-height: 100vh
	&.menu-open, &.cart-open
		&:after
			z-index: 10
			content: ''
			position: fixed
			height: 100%
			width: 100%
			top: 0
			left: 0
			opacity: 0.6
			background-color: #000

.start-page
	padding: 10rem 2rem

.red-text
	color: #ff0000

.blue-text
	color: #0131ff

.bonus-earn
	+semi
	display: flex
	align-items: flex-end
	&__icon
		line-height: 0
		margin-right: 0.3rem
		font-size: 2.3rem
		.icon
			fill: #0078ff
	&--cart
		align-items: flex-start
		font-size: 2rem
		.bonus-earn__icon
			font-size: 2rem
		.bonus-earn__value
			flex-grow: 1
			text-align: right

.bonuses
	transition: 0.3s
	&.is-hidden
		display: none

.bonuses-hide
	transition: 0.3s
	&.is-hidden
		opacity: 0
		visibility: hidden
		pointer-events: none
