+font(OpenSans-SemiBold, OpenSans-SemiBold)
+font(OpenSans-Regular, OpenSans-Regular)
+font(OpenSans-Italic, OpenSans-Italic)

=semi
	font-family: OpenSans-SemiBold, Arial, sans-serif
=regular
	font-family: OpenSans-Regular, Arial, sans-serif
=italic
	font-family: OpenSans-Italic, Arial, sans-serif

html
	font-size: 2vw

body
	font-size: 1.7rem
	+regular
	background: #FFF
	line-height: 1.2
	color: #000000

p
	margin: 1rem 0

.title
	+semi
	font-weight: 400
	font-size: 2.9rem
	text-align: center
	margin-bottom: 1rem

.text-lg
	font-size: 3.23rem
	margin: 1rem 0
	& + &
		margin-top: 5rem
	&--center
		text-align: center

.app
	padding-top: 9rem
	padding-bottom: 9rem
	position: relative
	transition: 0.3s
	min-height: 100vh
	&.menu-open
		position: fixed
		top: 0
		left: 0
		height: 100%
		width: 100%
		transform: translateX(40rem)
		&:after
			z-index: 10
			content: ''
			position: fixed
			height: 100%
			width: 100%
			top: 0
			left: 0
			opacity: 0.6
			background-color: #000
	&.has-overlay
		&:after
			z-index: 10
			content: ''
			position: fixed
			height: 100%
			width: 100%
			top: 0
			left: 0
			opacity: 0.6
			background-color: #000

.container
	padding: 2rem 3.8rem

.fixed-menu
	position: fixed
	bottom: 2rem
	right: 3rem
	z-index: 2
	&__btn
		margin: auto 0 auto auto
		height: 7rem
		width: 7rem
		border-radius: 50%
		border: 1px solid #000
		background-color: #FFFFFF
		display: flex
		align-items: center
		justify-content: center
		font-size: 3rem
		box-shadow: 5px 6px 5px rgba(0,0,0,0.8)
		color: #000
		text-shadow: 3px 4px 6px rgba(0,0,0,.4)
		-webkit-text-fill-color: black
		-webkit-text-stroke: 1px #fff
		.icon
			transition: 0.3s
			transform-origin: 50% 50%
			stroke: #fff
			filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7))
		.is-active &
			.icon
				transform: rotate(45deg)
	&__content
		height: 0
		padding: 2rem
		animation: fade-out 0.3s
		animation-fill-mode: forwards
		background-color: rgba(255, 255, 255, 0.9)
		transform-origin: 100% 100%
		.is-active &
			height: auto
			animation: fade-in 0.3s
	&.is-active
		transform: rotate(0)

.start-page
	padding: 10rem 2rem

.red-text
	color: #ff0000

@keyframes fade-in
	from
		ransform: scale(1)
		opacity: 0
		transform: rotate(-90deg)
	to
		opacity: 1
		transform: rotate(0)

@keyframes fade-out
	from
		height: auto
		opacity: 1
		transform: rotate(0)
	99%
		opacity: 0
		transform: rotate(-90deg)
	to
		opacity: 0
		transform: scale(0)
		height: 0

