+font(OpenSans-SemiBold, OpenSans-SemiBold)
+font(OpenSans-Regular, OpenSans-Regular)
+font(OpenSans-Italic, OpenSans-Italic)
+font(OpenSans-BoldItalic, OpenSans-BoldItalic)
+font(OpenSans-SemiBoldItalic, OpenSans-SemiBoldItalic)
+font(Raleway-Regular, Raleway-Regular)
+font(KaushanScript-Regular, KaushanScript-Regular)

=kaushan
	font-family: KaushanScript-Regular, Arial, sans-serif
=semi
	font-family: OpenSans-SemiBold, Arial, sans-serif
=regular
	font-family: OpenSans-Regular, Arial, sans-serif
=italic
	font-family: OpenSans-Italic, Arial, sans-serif
=bold-italic
	font-family: OpenSans-BoldItalic, Arial, sans-serif
=semibold-italic
	font-family: OpenSans-SemiBoldItalic, Arial, sans-serif
=raleway
	font-family: Raleway-Regular, Arial, sans-serif

b
	+semi

html
	font-size: 2vw

body
	font-size: 1.7rem
	+regular
	background: #FFF
	line-height: 1.2
	color: #000000

p
	margin: 1rem 0

input
	border-radius: 0

.align-right
	text-align: right

.addition-info
	font-size: 1.45rem
	+semi

.price-box
	display: inline-block
	+raleway
	background-image: url("../img/price-bage.png")
	background-size: 100% 100%
	background-repeat: no-repeat
	padding: 0.2rem 1.3rem 1.5rem 2rem

.bonus-pay
	color: #0078ff
	+semi

.title
	+semi
	font-weight: 400
	font-size: 2.9rem
	text-align: center
	margin-bottom: 1rem
	&--lg
		font-size: 3.55rem
	&--sm
		font-size: 2.4rem

.check-icon
	font-size: 8.5rem
	text-align: center
	.icon
		fill: #ff6c00

.smile
	margin: 6rem 0 3rem
	text-align: center
	&__icon
		font-size: 5.2rem
		margin-bottom: 1rem
		.icon
			fill: #ff6c00
	&__text
		color: #ff6c00
		font-size: 2.8rem

.text-lg
	font-size: 3.23rem
	margin: 1rem 0
	& + &
		margin-top: 5rem
	&--center
		text-align: center

.text-m
	font-size: 2.4rem
	margin: 1rem 0
	&--center
		text-align: center
	&--width
		max-width: 35rem
		margin: 1rem auto

.text-md
	display: block
	font-size: 1.95rem
	line-height: 1.6
	&--center
		text-align: center
	&--width
		max-width: 35rem
		margin: 1rem auto
	&--italic
		+italic

.rose-text
	color: #ff01de

.green-text
	color: #0fce00

.red-text
	color: #ff0000

.blue-text
	color: #2400fe

.app
	padding-top: 9rem
	padding-bottom: 9rem
	position: relative
	transition: 0.3s
	min-height: 100vh
	&.menu-open, &.cart-open
		&:after
			z-index: 10
			content: ''
			position: fixed
			height: 100%
			width: 100%
			top: 0
			left: 0
			opacity: 0.6
			background-color: #000
	&.is-blured
		filter: blur(5px)
		overflow: hidden

.bonus-earn
	+semi
	display: flex
	align-items: flex-end
	&__icon
		line-height: 0
		margin-right: 0.3rem
		font-size: 2.3rem
		.icon
			fill: #0078ff
	&--cart
		align-items: flex-start
		font-size: 2rem
		.bonus-earn__icon
			font-size: 2rem
		.bonus-earn__value
			flex-grow: 1
			text-align: right

.bonuses
	transition: 0.3s
	&.is-hidden
		display: none

.bonuses-hide
	transition: 0.3s
	&.is-hidden
		opacity: 0
		visibility: hidden
		pointer-events: none

.message
	margin: 1rem 0
	&__image
		max-width: 12rem
		float: right
		margin: 0 0.5rem
		&--left
			float: left
	&__title
		display: flex
		justify-content: space-between
		align-items: center
		+semi
		font-size: 2.4rem
		margin-bottom: 1rem
		&--sm
			font-size: 1.95rem
	&__text
		padding-left: 2rem
		+italic
		font-size: 1.95rem
		&--stroke
			color: #000
			text-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.4)
			-webkit-text-fill-color: #000
			-webkit-text-stroke: 0.01rem white
	&__more
		display: block
		+italic
		font-size: 1.95rem
		text-decoration: none
		padding-left: 4rem
		color: inherit
	&--lg
		.message__text
			line-height: 1.5
			font-size: 2.4rem

.text-image
	display: block
	max-width: 20rem
	margin: 0 auto -2rem

.stripe-message
	position: absolute
	left: 0
	top: 32rem
	z-index: 5
	width: 100%
	+semi
	font-size: 1.95rem
	padding: 0.5rem
	&--closed
		background-color: red
		color: white

.order-number
	text-align: center
	max-width: 35rem
	margin: 4rem auto
	color: #2c2c2c
	&__title
		font-size: 2.4rem
		padding-bottom: 1rem
		margin-bottom: 1rem
		border-bottom: 1px dashed #ababab
	&__value
		font-size: 3.22rem
	&--lg
		.order-number__title
			font-size: 2.9rem

.simple-slider
	margin: 2rem 2rem 4rem
	.slick-dots
		bottom: -2.5rem
		li
			&:not(:last-child)
				margin-right: 0.9rem
			button:before
				height: 1.1rem
				width: 1.1rem
				background: transparent
				border: 1px solid black
			&.slick-active
				button:before
					background: black
	&__item
		min-height: 17rem
		background-color: #ffa0a0
		text-align: center
		padding: 2rem

.serving-logo
	max-width: 20rem
	margin: 0 auto
	img
		width: 100%

.delivery-addresses
	display: none
