.main
	&__buttons
		margin: 4rem 2rem
		display: flex
		align-items: center
		justify-content: space-between
		&--m0
			margin: 0 2rem
		&--m1
			margin: 1rem 2rem
		&--m8
			margin: 8rem 2rem
		&--right
			justify-content: flex-end
		&--center
			justify-content: center
			.btn + .btn
				transition: 0.3s
				margin-left: 3rem
		&--sm
			margin: 3rem 5rem
	&__text-center
		margin: 2rem auto
		width: 50%
		line-height: 1.5
		text-align: center
		font-size: 1.95rem
		color: #3b3b3b
	&__deco
		z-index: -1
		position: absolute
		top: 0
		right: 0
	&--relative
		z-index: 1
		position: relative


