---
title: JinGou


---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="landing">
  <div class="landing__top">
    <div class="landing__inner">
      <div class="landing__logo main-logo">
        <div class="main-logo__rounds">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="main-logo__title">
          <img src="img/main-logo.png" alt="JinGou">
        </div>
      </div>
      <div class="landing__title">Welcome to Jingou</div>
      <div class="landing__subtitle">Difference you can taste</div>
    </div>
  </div>
  <div class="landing__bottom">
    <div class="landing__inner">
      <div class="landing__actions">
        <div class="loading-rounds">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="#" class="landing__skip">skip</a>
      </div>
    </div>
    <div class="landing__decor">

    </div>
  </div>
</div>

{% endblock %}
