---
title: JinGou

contentList: [
  {
    text: 'Loyalty',
    icon: 'icon-loyalty.png'
  },{
    text: 'Notification',
    icon: 'icon-notification.png'
  },{
    text: 'Menu',
    icon: 'icon-menu.png'
  },{
    text: 'Cart',
    icon: 'icon-cart.png'
  },{
    text: 'Offers',
    icon: 'icon-offers.png'
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="app js-app">
    {% include "partials/_header.html" %}
    {% include "partials/_languages.html" %}
    {% include "partials/_sidebar.html" %}
    {% include "partials/_cart.html" %}
  </div>

{% endblock %}
