---
title: JinGou


---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="start-page">
  <div class="start-page__title">Welcome to</div>
  <div class="start-page__logo main-logo">
    <div class="main-logo__rounds">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="main-logo__title">
      <img src="img/main-logo.png" alt="JinGou">
    </div>
    <div class="main-logo__cup-drink">
      <img src="img/cup-drink.png" alt="Drink">
      <div class="main-logo__decos logo-decos">
        <div class="logo-decos__black-ring"></div>
        <div class="logo-decos__green-square"></div>
        <div class="logo-decos__green-circle"></div>
        <div class="logo-decos__rose-circle"></div>
        <div class="logo-decos__violet-circle"></div>
        <div class="logo-decos__purple-circle"></div>
      </div>
    </div>
    <div class="main-logo__cup-pizza">
      <img src="img/cup-pizza.png" alt="Pizza">
    </div>
  </div>
  <div class="start-page__btns">
    <a href="#" class="btn btn--green">SignUp</a>
    <a href="#" class="btn">Login</a>
  </div>
</div>

{% endblock %}
