---
title: JinGou

contentList: [
  {
    text: 'Loyalty',
    icon: 'icon-loyalty.png'
  },{
    text: 'Notification',
    icon: 'icon-notification.png'
  },{
    text: 'Menu',
    icon: 'icon-menu.png'
  },{
    text: 'Cart',
    icon: 'icon-cart.png'
  },{
    text: 'Offers',
    icon: 'icon-offers.png'
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="app js-app">
    {% include "partials/_header.html" %}
    {% include "partials/_notifications.html" %}
    {% include "partials/_sidebar.html" %}
    <div class="notification-decos">
      <div class="decos">
        <div class="decos__black-ring"></div>
        <div class="decos__green-square"></div>
        <div class="decos__red-square"></div>
        <div class="decos__green-circle"></div>
        <div class="decos__rose-circle"></div>
        <div class="decos__violet-circle"></div>
        <div class="decos__purple-circle"></div>
      </div>
    </div>
  </div>

{% endblock %}
