---
title: JinGou

food: [
  {
    image: 'img/pizza.png',
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '10',
    payPts: '100'
  },{
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '20',
    payPts: '130'
  },{
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '20',
    payPts: '130'
  },{
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '20',
    payPts: '130'
  },{
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '20',
    payPts: '130'
  },{
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '20',
    payPts: '130'
  },{
    title: 'Stoupid Prawn Pizza',
    desc: 'Stoupid Casing  Doner Meat Tomato Sauce  Onions',
    price: '3.00',
    getPts: '20',
    payPts: '130'
  },
]

contentList: [
  {
    text: 'Loyalty',
    icon: 'icon-loyalty.png'
  },{
    text: 'Notification',
    icon: 'icon-notification.png'
  },{
    text: 'Menu',
    icon: 'icon-menu.png'
  },{
    text: 'Cart',
    icon: 'icon-cart.png'
  },{
    text: 'Offers',
    icon: 'icon-offers.png'
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="app js-app">
    {% include "partials/_header.html" %}
    {% include "partials/_submenu.html" %}
    {% include "partials/_sidebar.html" %}
  </div>

{% endblock %}
