---
title: 'Terms & Conditions'

contentList: [
  {
    text: 'Loyalty',
    icon: 'icon-loyalty.png'
  },{
    text: 'Notification',
    icon: 'icon-notification.png'
  },{
    text: 'Menu',
    icon: 'icon-menu.png'
  },{
    text: 'Cart',
    icon: 'icon-cart.png'
  },{
    text: 'Offers',
    icon: 'icon-offers.png'
  }
]

terms: [
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure  proident, sunt in culpa qui officia deserunt mollit anim id',
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure  proident, sunt in culpa qui officia deserunt mollit anim id',
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure  proident, sunt in culpa qui officia deserunt mollit anim id',
  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure  proident, sunt in culpa qui officia deserunt mollit anim id'
]

---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="app js-app">
    {% include "partials/_header.html" %}
    {% include "partials/_terms.html" %}
    {% include "partials/_sidebar.html" %}
    {% include "partials/_cart.html" %}
  </div>

{% endblock %}
