<main class="main">
  <div class="container">
    <div class="title">Breakfast</div>
    <div class="message message--lg">
      <div class="message__title">Breakfast
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        On the move, not enough time to eat your breakfast. Now we have the solution for that. <b>Stoupid Breakfast.</b>
        Easy to eat when in a cone so it wont fall down your front
      </div>
    </div>
    <img class="text-image" src="img/stoupid-breakfast.jpg" alt="stoupid-breakfast">
    <div class="message message--lg">
      <div class="message__title">Coffee
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio eius explicabo minima quia. Aliquid
        <img class="message__image" src="img/stoupid-breakfast.jpg" alt="stoupid-breakfast">
        animi, delectus dolor doloribus ex illo illum minus modi natus officiis perspiciatis, quia quod sed soluta
        vitae! Amet dolor eum illum molestiae, recusandae reprehenderit sequi?
      </div>
    </div>
    <div class="message message--lg">
      <div class="message__title">Milk
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio
        <img class="message__image message__image--left" src="img/stoupid-breakfast.jpg" alt="stoupid-breakfast">
        eius explicabo minima quia. Aliquid animi
      </div>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
