<div class="cart-menu js-cart-menu">
  <div class="cart-menu__title">{{mixins.icon('cart')}} CART</div>
  <div class="cart-menu__title">Choose One !</div>
  <div class="cart-menu__buttons">
    <a href="#" class="btn btn--sm btn--green-grad">In Shop</a>
    <a href="#" class="btn btn--sm btn--red-grad">Deliver</a>
  </div>
  <div class="cart-menu-oder">
    <div class="cart-menu-item">
      <div class="cart-menu-item__count">2</div>
      <div class="cart-menu-item__info">
        <div class="cart-menu-item__title">Stoupid Doner Pizza</div>
        <div class="cart-menu-item__extras">Extra Cheese & Sauce</div>
      </div>
      <div class="cart-menu-item__price">£6.50</div>
    </div>
    <div class="cart-menu-total">
      <div class="cart-menu-total__title">TOTAL</div>
      <div class="cart-menu-total__price">£11.50</div>
    </div>
  </div>

  <div class="cart-menu__earned">
    <div class="bonus-earn bonus-earn--cart">
      <div class="bonus-earn__icon">{{mixins.icon('crown')}}</div>
      <div class="bonus-earn__title">Earned</div>
      <div class="bonus-earn__value">80 pts</div>
    </div>
  </div>

  <form action="" class="cart-form">
    <textarea name="" id="" rows="7" class="cart-form__textarea" placeholder="Message To Chef"></textarea>
    <textarea name="" id="" rows="7" class="cart-form__textarea" placeholder="Message To Driver"></textarea>

    <div class="cart-menu__buttons">
      <a href="#" class="btn btn--sm btn--white">Cancel</a>
      <button type="submit" class="btn btn--sm">To Payment</button>
    </div>
  </form>


</div>
