<main class="main">
  <div class="container">
    <ol class="o-list">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </li>
    </ol>
    <form action="">
      <div class="password js-password">
        <input type="password" class="password__input js-password-input" placeholder="Old Password">
        <span class="password__icon">{{mixins.icon('lock')}}</span>
        <span class="password__show js-password-show">{{mixins.icon('eye')}}</span>
      </div>
      <div class="password js-password">
        <input type="password" class="password__input js-password-input" placeholder="New Password">
        <span class="password__icon">{{mixins.icon('lock')}}</span>
        <span class="password__show js-password-show">{{mixins.icon('eye')}}</span>
      </div>
      <div class="password js-password">
        <input type="password" class="password__input js-password-input" placeholder="Confirm Password">
        <span class="password__icon">{{mixins.icon('lock')}}</span>
        <span class="password__show js-password-show">{{mixins.icon('eye')}}</span>
      </div>
      <div class="main__buttons main__buttons--center">
        <button type="submit" class="btn btn--lg btn--square">Save Password</button>
      </div>
    </form>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
