<main class="main">
  <div class="container">
    <p class="text-lg text-lg--center">Verify The Code</p>
    <p class="text-lg text-lg--center">Enter The 4 Letter Code</p>
    <p class="text-lg">Enter Your OTP Code</p>
    <form action="" class="verification js-verification">
      <div class="verification__inputs">
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
        <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}"/>
      </div>
      <div class="main__buttons main__buttons--center">
        <button type="submit" class="btn">Enter</button>
      </div>
    </form>
    <a href="#" class="forget-link">Resend the Code !</a>
    <p class="text-lg">Help !</p>
  </div>
</main>
