<header class="header">
  <div class="header__inner">
    <div class="header__left">
      {% if headerBoth %}
        <div class="header__nav js-header-nav">
          <a href="#" class="header__back js-header-back">
            {{mixins.icon('back-icon')}}
          </a>
          <button class="burger js-burger">
            <img src="img/burger.png" alt="Burger">
          </button>
        </div>
      {% elseif headerBack %}
        <a href="#" class="header__back">
          {{mixins.icon('back-icon')}}
        </a>
      {% else %}
        <div class="header__burger">
          <button class="burger js-burger">
            <img src="img/burger.png" alt="Burger">
          </button>
        </div>
      {% endif %}
      <div class="header__loyalty">
        <div class="loyalty">
          <span class="loyalty__icon">
            <img src="img/loyalty.png" alt="loyalty.png">
          </span>
          <span class="loyalty__value">450 Pts</span>
        </div>
      </div>
    </div>
    <div class="header__center">
      <div class="header__logo">
        <div class="logo">
          <img src="img/logo.png" alt="Jingou">
        </div>
      </div>
      <div class="header__title">
        <h1 class="app-title">{{title}}</h1>
      </div>
    </div>
    <div class="header__right">
      <div class="header__notification">
        <button class="notification-btn">
          <img src="img/bell.png" alt="Notification">
        </button>
      </div>
      <div class="header__order">
        <div class="halal">
          <img src="img/halal.png" alt="Halal">
        </div>
        <a href="#" class="cart js-cart-link">
          <span class="cart__icon">
            <img src="img/cart.png" alt="Cart">
          </span>
          <span class="cart__value">12</span>
        </a>
      </div>
    </div>
  </div>
</header>
