<main class="main main--relative">
  <div class="main__deco">
    <div class="decos">
      <div class="decos__black-ring"></div>
      <div class="decos__green-square"></div>
      <div class="decos__red-square"></div>
      <div class="decos__green-circle"></div>
      <div class="decos__rose-circle"></div>
      <div class="decos__violet-circle"></div>
      <div class="decos__purple-circle"></div>
    </div>
  </div>
  <div class="container">
    <div class="hmc-logo">
      <img src="img/hmc.png" alt="HMC">
    </div>
    <div class="title">HMC</div>
    <ol class="o-list o-list--lg">
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure proident, sunt in culpa qui officia deserunt mollit anim id
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure proident, sunt in culpa qui officia deserunt mollit anim id
      </li>
    </ol>

    <div class="main__buttons main__buttons--center">
      <a href="#" class="btn btn--square">Close</a>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
