<main class="main">
  <div class="container">
    <div class="simple-slider js-simple-slider">
      <div class="simple-slider__item">slide1</div>
      <div class="simple-slider__item">slide2</div>
      <div class="simple-slider__item">slide3</div>
      <div class="simple-slider__item">slide4</div>
      <div class="simple-slider__item">slide5</div>
      <div class="simple-slider__item">slide6</div>
      <div class="simple-slider__item">slide7</div>
      <div class="simple-slider__item">slide8</div>
    </div>
    <div class="title">Breakfast</div>
    <div class="message">
      <div class="message__title message__title--sm">Breakfast
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        On the move, not enough time to eat your breakfast. Now we have the solution for that. <b>Stoupid Breakfast.</b>
        Easy to eat when in a cone so it wont fall down your front
      </div>
      <a href="/breakfast.html" class="message__more">more:</a>
    </div>
    <div class="title">Stoupid Pizza</div>
    <div class="message">
      <div class="message__title message__title--sm">Stoupid Pizza
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        On the move, not enough time to eat your breakfast. Now we have the solution for that. <b>Stoupid Breakfast.</b>
        Easy to eat when in a cone so it wont fall down your front
      </div>
      <a href="/stoupid-pizza.html" class="message__more">more:</a>
    </div>
    <div class="title">Quinkee</div>
    <div class="message">
      <div class="message__title message__title--sm">Quinkee
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        On the move, not enough time to eat your breakfast. Now we have the solution for that. <b>Stoupid Breakfast.</b>
        Easy to eat when in a cone so it wont fall down your front
      </div>
      <a href="/quinkee.html" class="message__more">more:</a>
    </div>
    <div class="title">Puffy Wraps</div>
    <div class="message">
      <div class="message__title message__title--sm">Puffy Wraps
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        On the move, not enough time to eat your breakfast. Now we have the solution for that. <b>Stoupid Breakfast.</b>
        Easy to eat when in a cone so it wont fall down your front
      </div>
      <a href="#" class="message__more">more:</a>
    </div>
    <div class="title">Ice Cream</div>
    <div class="message">
      <div class="message__title message__title--sm">Ice Cream
        <button class="youtube-btn">{{mixins.icon('youtube')}}</button>
      </div>
      <div class="message__text">
        On the move, not enough time to eat your breakfast. Now we have the solution for that. <b>Stoupid Breakfast.</b>
        Easy to eat when in a cone so it wont fall down your front
      </div>
      <a href="#" class="message__more">more:</a>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
