<main class="main">
  <div class="container">
    <h2 class="title title--sm">Leaving For Your Payment Gateway</h2>
    <ol class="o-list o-list--lg">
        <li>
          <p>
            You are leaving the app. The chosen gate way will take the payment and you will return to the app.
          </p>
          <p>
            We donot at any time save your card details. The only we will retain on our servers just your name  address  phone
          </p>
        </li>
    </ol>
    <div class="main__buttons">
      <a href="#" class="btn btn--white">Reject</a>
      <a href="#" class="btn">Accept</a>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
