<main class="main">
  <div class="container">
    <div class="main__buttons main__buttons--m1">
      <a href="./faq.html" class="btn">FAQ</a>
      <a href="./summary-points.html" class="btn">SUMMARY</a>
    </div>
    <div class="chart">
      <svg class="progress" width="120" height="120" viewBox="0 0 120 120">
        <circle class="progress__meter" cx="60" cy="60" r="50" stroke-width="16" stroke="url(#linearColors1)"/>
        <circle class="progress__value js-progress-value" cx="60" cy="60" r="50" stroke-width="16" stroke="#ff7100"
                stroke-dasharray="314" stroke-dashoffset="314" data-chart-value="75"/>
      </svg>
      <div class="chart__center">
        <div class="chart__title">{{mixins.icon('crown')}} <span>Points</span></div>
        <div class="chart__value">450</div>
      </div>
    </div>
    <div class="loyalty-carousel-container">
      <div class="loyalty-carousel-container__btn">
        <a href="#" class="btn btn--dark-red">See Menu</a>
      </div>
      <div class="loyalty-carousel js-loyalty-slider">
        <div class="loyalty-carousel__item">
          <div class="lc-item">
            <div class="lc-item__image">
              <img src="img/dish.png" alt="Pizza&Drink">
            </div>
            <div class="lc-item__content">
              <div class="lc-item__title">Stoupid Pizza & Drink</div>
              <div class="lc-item__desc">
                <p>Stoupid Doner Pizza & Drink</p>
                <p>Line 2.........Line 2........Line 2</p>
              </div>
              <div class="lc-item__price">£2.99</div>
            </div>
            <div class="lc-item__allergens">
              <a href="./allergen.html" class="allergen-link">Allergens !</a>
            </div>
          </div>
        </div>
        <div class="loyalty-carousel__item">
          <div class="lc-item">
            <div class="lc-item__image">
              <img src="img/dish.png" alt="Pizza&Drink">
            </div>
            <div class="lc-item__content">
              <div class="lc-item__title">Stoupid Pizza & Drink</div>
              <div class="lc-item__desc">
                <p>Stoupid Doner Pizza & Drink</p>
                <p>Line 2.........Line 2........Line 2</p>
              </div>
              <div class="lc-item__price">£2.99</div>
            </div>
            <div class="lc-item__allergens">
              <a href="./allergen.html" class="allergen-link">Allergens !</a>
            </div>
          </div>
        </div>
        <div class="loyalty-carousel__item">
          <div class="lc-item">
            <div class="lc-item__image">
              <img src="img/dish.png" alt="Pizza&Drink">
            </div>
            <div class="lc-item__content">
              <div class="lc-item__title">Stoupid Pizza & Drink</div>
              <div class="lc-item__desc">
                <p>Stoupid Doner Pizza & Drink</p>
                <p>Line 2.........Line 2........Line 2</p>
              </div>
              <div class="lc-item__price">£2.99</div>
            </div>
            <div class="lc-item__allergens">
              <a href="./allergen.html" class="allergen-link">Allergens !</a>
            </div>
          </div>
        </div>
        <div class="loyalty-carousel__item">
          <div class="lc-item">
            <div class="lc-item__image">
              <img src="img/dish.png" alt="Pizza&Drink">
            </div>
            <div class="lc-item__content">
              <div class="lc-item__title">Stoupid Pizza & Drink</div>
              <div class="lc-item__desc">
                <p>Stoupid Doner Pizza & Drink</p>
                <p>Line 2.........Line 2........Line 2</p>
              </div>
              <div class="lc-item__price">£2.99</div>
            </div>
            <div class="lc-item__allergens">
              <a href="./allergen.html" class="allergen-link">Allergens !</a>
            </div>
          </div>
        </div>
        <div class="loyalty-carousel__item">
          <div class="lc-item">
            <div class="lc-item__image">
              <img src="img/dish.png" alt="Pizza&Drink">
            </div>
            <div class="lc-item__content">
              <div class="lc-item__title">Stoupid Pizza & Drink</div>
              <div class="lc-item__desc">
                <p>Stoupid Doner Pizza & Drink</p>
                <p>Line 2.........Line 2........Line 2</p>
              </div>
              <div class="lc-item__price">£2.99</div>
            </div>
            <div class="lc-item__allergens">
              <a href="./allergen.html" class="allergen-link">Allergens !</a>
            </div>
          </div>
        </div>
        <div class="loyalty-carousel__item">
          <div class="lc-item">
            <div class="lc-item__image">
              <img src="img/dish.png" alt="Pizza&Drink">
            </div>
            <div class="lc-item__content">
              <div class="lc-item__title">Stoupid Pizza & Drink</div>
              <div class="lc-item__desc">
                <p>Stoupid Doner Pizza & Drink</p>
                <p>Line 2.........Line 2........Line 2</p>
              </div>
              <div class="lc-item__price">£2.99</div>
            </div>
            <div class="lc-item__allergens">
              <a href="./allergen.html" class="allergen-link">Allergens !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="quantity">
      <div class="quantity__content">
        <div class="quantity__text">Quantity</div>
        <div class="quantity__count">2</div>
        <div class="quantity__buttons">
          <button type="button" class="quantity__button">{{mixins.icon('minus')}}</button>
          <button type="button" class="quantity__button quantity__button--plus">{{mixins.icon('plus')}}</button>
        </div>
      </div>
    </div>
    <div class="main__buttons main__buttons--center main__buttons--sm">
      <a href="#" class="btn btn--sm btn--violet">Order Options</a>
    </div>

    <div class="menu-slider js-menu-slider">
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
      <div class="menu-slider__item">
        <div class="menu-slider__content">

        </div>
      </div>
    </div>

    <div class="main__buttons main__buttons--center main__buttons--sm">
      <a href="#" class="btn btn--sm btn--rainbow">Add & Continue</a>
    </div>

    <div class="main__buttons">
      <div>
        <a href="#" class="btn btn--green">Pay & Earn Points</a>
        <div class="loyalty-pts">20 pts</div>
      </div>
      <div>
        <a href="#" class="btn">Pay with Points</a>
        <div class="loyalty-pts">120 pts</div>
      </div>
    </div>

    {% include "./_fixed-menu.html" %}
  </div>
  <marquee behavior="alternate" class="stripe-message stripe-message--closed">
    <span>Now Closed</span>
  </marquee>
</main>
