<main class="main">
  <div class="container">
    <div class="cat-menu">
      <div class="times-banner js-accordion accordion {% if isOpen %}is-open{% endif %} {% if isDelivering %}is-delivering{% endif %}">
        <div class="times-banner__title js-accordion-link">Opening & Delivering Times{{mixins.icon('bottom')}}</div>
        <div class="accordion__content js-accordion-content">
          <a href="./open-delivery-times.html" class="times-banner__info">
            <div class="times-banner__shop times-banner__shop--open">
              <img src="img/shop-open.png" alt="Shop Open">
            </div>
            <div class="times-banner__shop times-banner__shop--closed">
              <img src="img/shop-closed.png" alt="Shop Closed">
            </div>
            <div class="times-banner__check">Check Opening&nbsp;Times</div>
            <div class="times-banner__delivering">
              <div class="times-banner__deliver">
                <img src="img/deliver.png" alt="Courier">
              </div>
              <div class="times-banner__time">
                Now Delivering
                Until 12.30 am
              </div>
            </div>
            <div class="times-banner__not-delivering">
              Check Delivering&nbsp;Times
            </div>
          </a>
        </div>
      </div>
      {% for item in categoryMenuItems %}
      <a href="./submenu.html" class="cat-menu-item">
        <div class="cat-menu-item__image">
          {% if item.image %}
          <img src="{{item.image}}" alt="{{item.title}}">
          {% endif %}
        </div>
        <div class="cat-menu-item__main">
          <div class="cat-menu-item__title {% if item.colored %}cat-menu-item__title--orange{% endif %}">
            {{item.title}}
          </div>
          <div class="cat-menu-item__count"><span>{{item.count}}</span> Items</div>
        </div>
        <div class="cat-menu-item__info">
          <div class="cat-menu-item__loyalty">{{mixins.icon('crown')}}</div>
          <div class="cat-menu-item__button">{{mixins.icon('right')}}
            <svg class="signal" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <g>
                <g>
                  <path class="signal__1" fill="#FF6F00" d="M178.125,351.475c1.964,1.945,4.527,2.937,7.09,2.937c2.563,0,5.125-0.974,7.071-2.937
                    c3.91-3.892,3.91-10.232,0-14.143c-35.112-35.112-35.112-92.299,0-127.411c3.91-3.91,3.91-10.251,0-14.161
                    c-3.891-3.91-10.232-3.91-14.161,0C135.193,238.654,135.193,308.543,178.125,351.475z"/>
                  <path class="signal__1" fill="#FF6F00" d="M319.695,351.475c1.946,1.945,4.509,2.937,7.072,2.937c2.563,0,5.125-0.974,7.09-2.937
                    c42.932-42.932,42.932-112.783,0-155.714c-3.91-3.91-10.252-3.91-14.162,0c-3.909,3.91-3.909,10.232,0,14.161
                    c35.113,35.112,35.113,92.299,0,127.411C315.786,341.223,315.786,347.564,319.695,351.475z"/>
                  <path class="signal__2" fill="#FF6F00" d="M156.874,372.706c-54.642-54.642-54.642-143.573,0-198.253c3.91-3.909,3.91-10.232,0-14.142
                    s-10.251-3.91-14.161,0c-62.424,62.443-62.424,164.095,0,226.537c1.945,1.965,4.527,2.938,7.071,2.938
                    c2.544,0,5.125-0.973,7.071-2.938C160.783,382.957,160.783,376.615,156.874,372.706z"/>
                  <path class="signal__2" fill="#FF6F00" d="M369.269,160.311c-3.892-3.91-10.271-3.91-14.18,0s-3.909,10.232,0,14.142
                    c54.661,54.661,54.661,143.592,0,198.253c-3.909,3.909-3.909,10.232,0,14.142c1.945,1.965,4.509,2.938,7.108,2.938
                    c2.563,0,5.107-0.973,7.071-2.938C431.692,324.405,431.692,222.791,369.269,160.311z"/>
                  <path class="signal__3" fill="#FF6F00" d="M65.81,273.599c0-50.845,19.773-98.603,55.67-134.52c3.91-3.91,3.91-10.251,0-14.161
                    c-3.909-3.909-10.251-3.909-14.161,0c-81.954,81.973-81.954,215.369,0,297.342c1.964,1.945,4.527,2.918,7.09,2.918
                    s5.125-0.973,7.071-2.918c3.91-3.91,3.91-10.251,0-14.18C85.583,372.201,65.81,324.424,65.81,273.599z"/>
                  <path class="signal__3" fill="#FF6F00" d="M404.643,124.937c-3.891-3.91-10.232-3.91-14.143,0c-3.909,3.91-3.909,10.232,0,14.161
                    c35.898,35.898,55.671,83.675,55.671,134.52c0,50.826-19.772,98.603-55.671,134.482c-3.909,3.909-3.909,10.27,0,14.179
                    c1.945,1.945,4.527,2.919,7.072,2.919c2.543,0,5.106-0.974,7.07-2.919C486.634,340.287,486.634,206.909,404.643,124.937z"/>
                </g>
              </g>
              </svg>
          </div>
          <div class="cat-menu-item__serving {% if item.stopServing %}is-stopped{% endif %}">
            {% if item.stopServing %}
            Stopped Serving
            {% else %}
            Now Serving
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
