<main class="main">
  <div class="container">
    <p class="text-md">Message From The Shop    20-11-2018</p>
    <div class="y-banner y-banner--notification">
      <p>There are no deliveries today. </p>
      <p>Sorry for the inconvience.</p>
    </div>
    <div class="notification-item">
      <div class="notification-item__title">ALLOW NOTICATIONS</div>
      <div class="notification-item__checkbox">
        <div class="s-checkbox">
          <input type="checkbox" id="notifications">
          <label for="notifications" class="s-checkbox__label"></label>
        </div>
      </div>
    </div>
    <div class="notification-item">
      <div class="notification-item__title">SOUNDS</div>
      <div class="notification-item__checkbox">
        <div class="s-checkbox">
          <input type="checkbox" id="sounds">
          <label for="sounds" class="s-checkbox__label"></label>
        </div>
      </div>
    </div>
    <div class="notification-item">
      <div class="notification-item__title">SHOW IN LOCKED LAYER</div>
      <div class="notification-item__checkbox">
        <div class="s-checkbox">
          <input type="checkbox" id="locked-layer">
          <label for="locked-layer" class="s-checkbox__label"></label>
        </div>
      </div>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
