<main class="main">
  <div class="container">
    <div class="times-page">
      <div class="shop-message">
        <div class="shop-message__title">
          Message From The Shop
          <span class="shop-message__title">20-11-2018</span>
        </div>
        <div class="shop-message__text">
          There are no deliveries today. Sorry for the inconvience.
        </div>
      </div>
      <div class="times-title">
        OPENING TIMES
      </div>
      <div class="times-table">
        <div class="times-table__row">
          <div class="times-table__col">MONDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">TUESDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">WEDNESDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row is-active">
          <div class="times-table__col">THURSDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">FRIDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">SATURDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">SUNDAY</div>
          <div class="times-table__col">11.00am</div>
          <div class="times-table__col">9.30am</div>
        </div>
      </div>
      <div class="times-title times-title--dark">
        DELIVERING TIMES
      </div>
      <div class="times-table times-table--dark">
        <div class="times-table__row">
          <div class="times-table__col">MONDAY</div>
          <div class="times-table__col">2.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">TUESDAY</div>
          <div class="times-table__col">7.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">WEDNESDAY</div>
          <div class="times-table__col">2.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row is-active">
          <div class="times-table__col">THURSDAY</div>
          <div class="times-table__col">2.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">FRIDAY</div>
          <div class="times-table__col">2.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">SATURDAY</div>
          <div class="times-table__col">2.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
        <div class="times-table__row">
          <div class="times-table__col">SUNDAY</div>
          <div class="times-table__col">2.30am</div>
          <div class="times-table__col">9.30am</div>
        </div>
      </div>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
