<main class="main">
  <div class="container">
    <div class="message">
      <div class="message__title">Order Options</div>
      <div class="message__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="align-right">
      <a href="./allergen.html" class="allergen-link">Allergens !</a>
    </div>
    <div class="title">QUANTITY 2</div>
    <form action="">




      <div class="main__buttons">
        <a href="#" class="btn btn--white">Cancel</a>
        <button type="submit" class="btn">Add To Order</button>
      </div>
    </form>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
