<main class="main">
  <div class="container">
    <div class="orders">
      <div class="orders__title">Ordered Accepted</div>
      <div class="order-item order-item--border">
        <div class="order-item__icon">{{mixins.icon('moto')}}</div>
        <div class="order-item__info">
          <div class="order-item__title">Order No - 110040717</div>
          <div class="order-item__status">Order Accepted</div>
        </div>
        <div class="order-item__price">£ 4.50</div>
      </div>
      <div class="orders-message">
        <div class="orders-message__title">Message From  Jingou</div>
        <div class="orders-message__text">
          If you have left something off your order or want know when
          your food will arrive please phone jingou on 01772&nbsp;2345678.
        </div>
      </div>
      <div class="order-pos">
        <div class="order-pos__image"></div>
        <div class="order-pos__info">
          <div class="order-pos__title">2 x Stoupid Pizza</div>
          <div class="order-pos__calcs">2 x £2.25 = £ 4.50</div>
        </div>
      </div>
      <div class="order-pos">
        <div class="order-pos__image"></div>
        <div class="order-pos__info">
          <div class="order-pos__title">2 x Stoupid Pizza</div>
          <div class="order-pos__calcs">2 x £2.25 = £ 4.50</div>
        </div>
      </div>
      <div class="border-message">
        <div class="border-message__title">Message To Chef</div>
        <div class="border-message__text">
          Hi, Please pack green sauce in my order and please tell
          your delivery man that he has to come on 2nd floor becau
          se I’m not available at home.
        </div>
      </div>
      <div class="border-message">
        <div class="border-message__title">Message To Driver</div>
        <div class="border-message__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore ma
          gna aliqua. Ut enim ad minim veniam, quis nostrud exerc
        </div>
      </div>
      <div class="bottom-message">
        Call Jingou For Any Questions Regarding This Order
      </div>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
