<main class="main">
  <div class="container">
    <div class="check-icon">
      {{mixins.icon('check-big')}}
    </div>
    <div class="text-lg text-lg--center">Payment Completed</div>
    <div class="text-md text-md--center text-md--width">
      We’ve sent you an email with all the details of your order & remember you can track your order using this app!
    </div>
    <div class="order-number">
      <div class="order-number__title">Your Order Number:</div>
      <div class="order-number__value">114040717</div>
    </div>
    <div class="smile">
      <div class="smile__icon">{{mixins.icon('smile')}}</div>
      <div class="smile__text">Thank you!</div>
    </div>
    <div class="main__buttons main__buttons--m1 main__buttons--center">
      <a href="#" class="btn btn--lg btn--square">Go To My Orders</a>
    </div>
  </div>
</main>
