<main class="main">
  <div class="container">
    <div class="main__buttons">
      <h2 class="title">Reviews</h2>
      <a href="#" class="btn">Write A Review</a>
    </div>
    <div class="review">
      <div class="review__top">
        <div class="review__left">
          <div class="review__title">Nice Place</div>
          <div class="review__rate">4</div>
        </div>
        <div class="review__right">
          <div class="review__user">Mike Colombo</div>
          <div class="review__date">Sept 2018</div>
        </div>
      </div>
      <div class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      </div>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
