
    <p class="text-lg text-lg--center">Write A Review</p>
    <form action="" class="taste-form">
      <div class="taste-form__rate">
        <p class="text-lg text-lg--center">Taste</p>
        <div class="taste-form__stars">
          <div class="rank">
            <div class="rank__rating">
              <input type="radio" id="rate1-5-stars" name="rate" value="5"/>
              <label for="rate1-5-stars" class="star">{{mixins.icon('star')}}</label>
              <input type="radio" id="rate1-4-stars" name="rate" value="4"/>
              <label for="rate1-4-stars" class="star">{{mixins.icon('star')}}</label>
              <input type="radio" id="rate1-3-stars" name="rate" value="3"/>
              <label for="rate1-3-stars" class="star">{{mixins.icon('star')}}</label>
              <input type="radio" id="rate1-2-stars" name="rate" value="2"/>
              <label for="rate1-2-stars" class="star">{{mixins.icon('star')}}</label>
              <input type="radio" id="rate1-1-star" name="rate" value="1"/>
              <label for="rate1-1-star" class="star">{{mixins.icon('star')}}</label>
            </div>
          </div>
        </div>
        <p>Tap On The Stars To Rate</p>
      </div>
      <input type="text" class="taste-form__input" placeholder="Title" maxlength="25">
      <textarea name="" rows="7" class="taste-form__textarea" placeholder="Write Review (100)"></textarea>
      <div class="main__buttons">
        <button type="reset" class="btn btn--white">Clear</button>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
