<main class="main">
  <div class="container">
    <div class="title-button">
      <h2 class="title">Reviews</h2>
      <a href="#" class="btn">Write A Review</a>
    </div>
    <div class="review-rates">
      <div class="review-rates__left">
        <div class="review-rates__value">4.3</div>
        <div class="review-rates__range">out of 5</div>
      </div>
      <div class="review-rates__right">
        <div class="review-rates__item">
          <div class="stars">
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
          </div>
          <div class="review-rates__visual"><span style="width: 90%"></span></div>
        </div>
        <div class="review-rates__item">
          <div class="stars">
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
          </div>
          <div class="review-rates__visual"><span style="width: 30%"></span></div>
        </div>
        <div class="review-rates__item">
          <div class="stars">
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
          </div>
          <div class="review-rates__visual"><span style="width: 40%"></span></div>
        </div>
        <div class="review-rates__item">
          <div class="stars">
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
          </div>
          <div class="review-rates__visual"><span style="width: 35%"></span></div>
        </div>
        <div class="review-rates__item">
          <div class="stars">
            <div class="stars__item is-active">{{mixins.icon('star')}}</div>
          </div>
          <div class="review-rates__visual"><span style="width: 20%"></span></div>
        </div>
        <div class="review-rates__count">25 Ratings</div>
      </div>
    </div>
    <div class="review">
      <div class="review__top">
        <div class="review__left">
          <div class="review__title">Nice Place</div>
          <div class="review__rate">
            <div class="stars">
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            </div>
          </div>
        </div>
        <div class="review__right">
          <div class="review__user">Mike Colombo</div>
          <div class="review__date">Sept 2018</div>
        </div>
      </div>
      <div class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      </div>
    </div>
    <div class="review">
      <div class="review__top">
        <div class="review__left">
          <div class="review__title">Great For Families</div>
          <div class="review__rate">
            <div class="stars">
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item">{{mixins.icon('star')}}</div>
              <div class="stars__item">{{mixins.icon('star')}}</div>
            </div>
          </div>
        </div>
        <div class="review__right">
          <div class="review__user">Andy</div>
          <div class="review__date">Sept 2018</div>
        </div>
      </div>
      <div class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. esse cillum dolore eu fugiat nulla pariatur.
      </div>
    </div>
    <div class="review">
      <div class="review__top">
        <div class="review__left">
          <div class="review__title">Fantastic</div>
          <div class="review__rate">
            <div class="stars">
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
              <div class="stars__item is-active">{{mixins.icon('star')}}</div>
            </div>
          </div>
        </div>
        <div class="review__right">
          <div class="review__user">Maria Deredas</div>
          <div class="review__date">Aug 2018</div>
        </div>
      </div>
      <div class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      </div>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
