<main class="main">
  <div class="container">
    <div class="settings">
      <div class="settings__item">
        <div class="settings-checkbox">
          <input type="checkbox" id="notification">
          <label for="notification" class="settings-checkbox__label">
            <span class="settings-checkbox__title">Receive Notification</span>
            <span class="settings-checkbox__icon">{{mixins.icon('simple-check')}}</span>
          </label>
        </div>
      </div>
      <div class="settings__item">
        <a href="#" class="settings-link">
          <span class="settings-link__title">Privacy Policy</span>
          <span class="settings-link__arrow">{{mixins.icon('bottom')}}</span>
        </a>
      </div>
      <div class="settings__item">
        <a href="./terms.html" class="settings-link">
          <span class="settings-link__title">Terms of Use</span>
          <span class="settings-link__arrow">{{mixins.icon('bottom')}}</span>
        </a>
      </div>
      <div class="settings__item">
        <a href="./languages.html" class="settings-link">
          <span class="settings-link__title">Languages</span>
          <span class="settings-link__arrow">{{mixins.icon('bottom')}}</span>
        </a>
      </div>
      <div class="settings__item">
        <a href="#" class="settings-link">
          <span class="settings-link__title">Profile Update</span>
          <span class="settings-link__arrow">{{mixins.icon('bottom')}}</span>
        </a>
      </div>
    </div>
  </div>
</main>
