<main class="main">
  <div class="container">
    <h2 class="title">Choose before you  start to browse the Jingou App</h2>
    <div class="languages">
      <div class="languages__item js-language-radio">
        <input type="radio" name="language" id="English" checked class="js-language-radio-input">
        <label for="English" class="language js-language-radio-btn">
          <span class="language__flag">
            <img src="img/english.png" alt="English">
          </span>
          <span class="language__text">English</span>
        </label>
      </div>
      <div class="languages__item js-language-radio">
        <input type="radio" name="language" id="Polish" class="js-language-radio-input">
        <label for="Polish" class="language js-language-radio-btn">
          <span class="language__flag">
            <img src="img/polish.png" alt="Polish">
          </span>
          <span class="language__text">Polski</span>
        </label>
      </div>
      <div class="languages__item js-language-radio">
        <input type="radio" name="language" id="Romanian" class="js-language-radio-input">
        <label for="Romanian" class="language js-language-radio-btn">
          <span class="language__flag">
            <img src="img/romanian.png" alt="Romanian">
          </span>
          <span class="language__text">Romanian</span>
        </label>
      </div>
      <div class="languages__item js-language-radio">
        <input type="radio" name="language" id="Spanish" class="js-language-radio-input">
        <label for="Spanish" class="language js-language-radio-btn">
          <span class="language__flag">
            <img src="img/spanish.png" alt="Spanish">
          </span>
          <span class="language__text">Espaniol</span>
        </label>
      </div>
    </div>
    <h2 class="title">Choose One !</h2>
    <div class="main__buttons main__buttons--center">
      <a href="#" class="btn btn--sm btn--green-grad">In Shop</a>
      <a href="#" class="btn btn--sm btn--red-grad">Deliver</a>
    </div>
    <h2 class="title">Can’t decide and want to know the difference...</h2>
    <div class="message">
      <div class="message__title">Loyalty Points</div>
      <div class="message__text message__text--stroke">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure proident, sunt in culpa qui officia deserunt mollit anim id
      </div>
    </div>
    <div class="main__buttons main__buttons--right main__buttons--m1">
      <a href="./faq.html" class="btn">FAQ</a>
    </div>
    <div class="message">
      <div class="message__title">Offers</div>
      <div class="message__text message__text--stroke">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure proident, sunt in culpa qui officia deserunt mollit anim id
      </div>
    </div>
    <div class="main__buttons main__buttons--center main__buttons--m1">
      <a href="#" class="btn btn--yellow">View Difference !</a>
    </div>
    <audio class="language-click" id="audio-click">
      <source src="audio/click.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
