<main class="main">
  <div class="container">
    <h2 class="title">Choose before you  start to browse the Jingou App</h2>
    <div class="languages">
      <div class="languages__item">
        <a href="#" class="language is-active">
          <span class="language__flag">
            <img src="img/english.png" alt="English">
          </span>
          <span class="language__text">English</span>
        </a>
      </div>
    </div>
    <h2 class="title">Choose One !</h2>
    <div class="main__buttons main__buttons--center">
      <a href="#" class="btn btn--sm btn--green-grad">In Shop</a>
      <a href="#" class="btn btn--sm btn--red-grad">Deliver</a>
    </div>
    <h2 class="title">Can’t decide and want to know the difference...</h2>
    <div class="message">
      <div class="message__title">Loyalty Points</div>
      <div class="message__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure proident, sunt in culpa qui officia deserunt mollit anim id
      </div>
    </div>
    <div class="main__buttons main__buttons--right main__buttons--m0">
      <a href="#" class="btn">FAQ</a>
    </div>
    <div class="message">
      <div class="message__title">Offers</div>
      <div class="message__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure proident, sunt in culpa qui officia deserunt mollit anim id
      </div>
    </div>
    <div class="main__buttons main__buttons--center main__buttons--m0">
      <a href="#" class="btn">View Difference !</a>
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
