<div class="sidebar js-sidebar">
  <div class="sidebar__user s-user">
    <div class="s-user__photo">

    </div>
    <div class="s-user__name">Angel James</div>
  </div>
  <div class="sidebar__items">
    <div class="sidebar__item">
      <a href="#" class="sidebar-item is-active">
        <span class="sidebar-item__icon">{{mixins.icon('menu')}}</span>
        <span class="sidebar-item__text">Menu</span>
      </a>
    </div>
    <div class="sidebar__item">
      <a href="#" class="sidebar-item">
        <span class="sidebar-item__icon">{{mixins.icon('orders')}}</span>
        <span class="sidebar-item__text">My Orders</span>
      </a>
    </div>
    <div class="sidebar__item">
      <div class="sidebar-item">
        <span class="sidebar-item__icon">
          {{mixins.icon('offers')}}
          <span class="sidebar-item__notification">4</span>
        </span>
        <span class="sidebar-item__text">Offers
          <ul class="sidebar-item__list">
            <li><a href="#">Daily Offer</a></li>
            <li><a href="#">Just 4 Today</a></li>
            <li><a href="#">3 Hr Offer</a></li>
          </ul>
        </span>
      </div>
    </div>
    <div class="sidebar__item">
      <a href="#" class="sidebar-item">
        <span class="sidebar-item__icon">{{mixins.icon('jingou')}}</span>
        <span class="sidebar-item__text">Jingou</span>
      </a>
    </div>
    <div class="sidebar__item">
      <a href="#" class="sidebar-item">
        <span class="sidebar-item__icon">{{mixins.icon('settings')}}</span>
        <span class="sidebar-item__text">Settings</span>
      </a>
    </div>
    <div class="sidebar__item">
      <a href="#" class="sidebar-item">
        <span class="sidebar-item__icon">{{mixins.icon('notification')}}</span>
        <span class="sidebar-item__text">Notifications</span>
      </a>
    </div>
    <div class="sidebar__item">
      <a href="#" class="sidebar-item">
        <span class="sidebar-item__icon">{{mixins.icon('support')}}</span>
        <span class="sidebar-item__text">Support</span>
      </a>
    </div>
    <div class="sidebar__item">
      <a href="#" class="sidebar-item sidebar-item--exit">
        <span class="sidebar-item__icon">{{mixins.icon('exit')}}</span>
        <span class="sidebar-item__text">LOG OUT</span>
      </a>
    </div>
  </div>
</div>
