<main class="main">
  <div class="container">
    <div class="m-items">
      {% for item in food %}
      <a href="#" class="m-item">
        <div class="m-item__image">
          {% if item.image %}
            <img src="{{item.image}}" alt="{{item.title}}">
          {% endif %}
        </div>
        <div class="m-item__content">
          <div class="m-item__title">{{item.title}}</div>
          <div class="m-item__middle">
            <div class="m-item__desc">{{item.desc}}</div>
            <button class="m-item__btn">
              {{mixins.icon('right')}}
            </button>
          </div>
          <div class="m-item__bottom">
            <div class="m-item__get-bonus">
              <div class="bonus-earn">
                <div class="bonus-earn__icon">{{mixins.icon('crown')}}</div>
                <div class="bonus-earn__value">Get {{item.getPts}}  pts</div>
              </div>
            </div>
            <div class="m-item__pay-bonus">Pay With {{item.payPts}} pts</div>
          </div>
        </div>
        <div class="m-item__price">£ {{item.price}}</div>
      </a>
      {% endfor %}
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
</main>
