<main class="main">
  <div class="container">
    <div class="message js-accordion accordion">
      <div class="message__title js-accordion-link">Stoupid Pizza{{mixins.icon('bottom')}}</div>
      <div class="message__text accordion__content js-accordion-content">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
      </div>
    </div>
    <div class="m-items js-accordion accordion is-active">
      <div class="m-items__modal js-accordion-content">
        <div class="yellow-alert">
          <button class="yellow-alert__close js-accordion-link">x</button>
          <div class="yellow-alert__content">
            Not Serving Now
          </div>
        </div>
      </div>
      {% for item in food %}
      <div class="m-item">
        <div class="m-item__image js-item-modal-btn" data-item-title="{{item.title}}" data-item-image="/img/food.png"
             data-item-desc="{{item.desc}}">
          {% if item.image %}
          <img src="{{item.image}}" alt="{{item.title}}">
          {% endif %}
        </div>
        <a href="/item-details.html" class="m-item__content">
          <div class="m-item__title">{{item.title}}</div>
          <div class="m-item__middle">
            <div class="m-item__desc">{{item.desc}}</div>
            <button class="m-item__btn">
              {{mixins.icon('right')}}
            </button>
          </div>
          <div class="m-item__bottom">
            <div class="m-item__get-bonus">
              <div class="bonus-earn">
                <div class="bonus-earn__icon">{{mixins.icon('crown')}}</div>
                <div class="bonus-earn__value">Get {{item.getPts}} pts</div>
              </div>
            </div>
            <div class="m-item__pay-bonus">Pay With {{item.payPts}} pts</div>
          </div>
        </a>
        <div class="m-item__price">£ {{item.price}}</div>
      </div>
      {% endfor %}
    </div>
    {% include "./_fixed-menu.html" %}
  </div>
  <!--<div class="s-popup is-active js-popup">-->
    <!--<div class="s-popup__inner s-popup__inner&#45;&#45;serving">-->
      <!--<button class="s-popup__close js-popup-close">X</button>-->
      <!--<p>Stopped Serving !</p>-->
      <!--<p>Next Serving Tomorrow</p>-->
    <!--</div>-->
  <!--</div>-->
  <div class="item-modal js-item-modal">
    <div class="item-modal__title js-item-modal-title">test</div>
    <div class="item-modal__desc js-item-modal-desc">test</div>
    <div class="item-modal__image">
      <img src="" alt="" class="js-item-modal-image">
    </div>
  </div>
</main>
