<main class="main">
  <div class="container">
    <div class="text-m">We care because you matter!</div>
    <div class="text-md">
      Save time by posting your request online and we’ll
      connect you to our support executive or you can
      call us 1800-100-8484.
    </div>
    <form action="" class="support-form">
      <input type="text" class="support-input" placeholder="Regarding">
      <input type="text" class="support-input" placeholder="Tell us">
      <div class="support-file">
        <input type="file" id="photo">
        <label for="photo" class="support-file__label">
          <span class="support-file__placeholder">Upload a Photo (Optional)</span>
          <span class="support-file__icon">{{mixins.icon('camera')}}</span>
        </label>
      </div>
      <input type="email" class="support-input" placeholder="E-mail ID">
      <input type="text" class="support-input" placeholder="Phone No.">
      <div class="main__buttons main__buttons--m8 main__buttons--center">
        <button type="submit" class="btn btn--lg btn--square">Submit</button>
      </div>
    </form>
  </div>
</main>
