<main class="main">
  <div class="container">
    <div class="check-icon">
      {{mixins.icon('check-big')}}
    </div>
    <div class="text-lg text-lg--center">Thank You</div>
    <div class="text-m text-m--center text-m--width">
      We’ve sent you an email from support about the query you have passed.
    </div>
    <div class="smile">
      <div class="smile__icon">{{mixins.icon('smile')}}</div>
    </div>
    <div class="main__buttons main__buttons--m1 main__buttons--center">
      <a href="#" class="btn btn--lg btn--square">To Menu</a>
    </div>
  </div>
  {% include "./_fixed-menu.html" %}
</main>
