.s-form
	margin: 2rem 0 4.5rem
	&__btn
		margin-top: 5.2rem
		display: flex
		justify-content: center

.s-input
	padding: 0 1rem
	width: 100%
	font-size: 2rem
	+regular
	+placeholder-color(#000)
	border-bottom: 1px solid #cccccc

.form-item
	& + &
		margin-top: 3rem

.verification
	input
		border-radius: 0
		width: 14%
		+semi
		border-bottom: 0.6rem solid #000
		font-size: 4.82rem
		text-align: center
	&__inputs
		margin: 1.7rem 0 7.4rem
		display: flex
		justify-content: space-between

.taste-form
	&__input, &__textarea
		border: none
		+regular
		color: #353535
		+placeholder-color(#353535)
		width: 100%
		background-color: #adfcff
		border-radius: 0.4rem
		font-size: 2.4rem
		padding: 0.5rem 1rem
		margin: 1rem 0
	&__rate
		margin: 1rem 0
		border-radius: 0.4rem
		display: flex
		flex-direction: column
		align-items: center
		background-color: #adfcff

.rank
	margin: 2rem 0 1rem
	display: inline-block
	.icon
		font-size: 4rem
	&__rating
		display: flex
		flex-direction: row-reverse
		justify-content: space-around
		text-align: center
		input
			display: none
		label
			&:not(:last-child)
				margin-left: 2rem
			.icon
				fill: rgba(237, 138, 25, 0.71)
		input:checked ~ label
			.icon
				fill: #ed8a19
		label:hover, label:hover ~ label
			.icon
				fill: #ed8a19

.cart-form
	&__textarea
		border: none
		padding: 0.7rem
		border-radius: 0.35rem
		margin: 1.8rem 1.4rem
		display: block
		width: 85%
		+semi
		font-size: 1.7rem
		+placeholder-color(#000000)

.s-checkbox
	input
		display: none
		&:checked ~ .s-checkbox__label
			background-color: #000000
			&:after
				background-color: #fff
				left: auto
				right: 0.2rem
	&__label
		display: block
		width: 6rem
		height: 2.8rem
		border-radius: 1.5rem
		background-color: #fff
		position: relative
		border: 0.1rem solid #000
		&:after
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			width: 2.4rem
			height: 2.4rem
			left: 0.2rem
			border-radius: 50%
			background-color: #000

.check
	input
		display: none
		&:checked ~ .check__label
			.icon
				display: block
	&__label
		height: 3rem
		width: 3rem
		border: 0.12rem solid black
		display: block
		position: relative
		.icon
			fill: #28d600
			position: absolute
			bottom: 0
			left: 0
			font-size: 3rem
			display: none

.shadow-textarea
	width: 90%
	display: block
	margin: 0 auto
	box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.75)
	font-size: 1.95rem
	+placeholder-color(black)
	+regular
	padding: 0.5rem

