.m-item
	display: flex
	position: relative
	align-items: center
	margin: 1rem 0
	padding-bottom: 0.8rem
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		height: 1px
		width: 86%
		background-color: #dadada
	&__content
		display: block
		text-decoration: none
		color: inherit
	&__price
		+raleway
		position: absolute
		top: 0
		right: 0
		font-size: 2.4rem
		background-image: url("../img/price-bage.png")
		background-size: 100% 100%
		background-repeat: no-repeat
		padding: 0.2rem 0.5rem 1rem 2rem
	&__image
		height: 10.8rem
		width: 10.8rem
		min-width: 10.8rem
		border-radius: 50%
		overflow: hidden
		background-color: #ffffff
		box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 0.75)
		img
			height: 100%
			width: 100%
			object-fit: contain
	&__title
		letter-spacing: 0.06rem
		font-size: 2.1rem
		+semi
		margin-bottom: 1.6rem
	&__middle
		padding: 0 1.4rem
		display: flex
		justify-content: space-between
		align-items: center
	&__desc
		line-height: 1.5
		+italic
		font-size: 1.7rem
		color: #434343
	&__btn
		background-color: transparent
		height: 4.4rem
		width: 4.4rem
		min-width: 4.4rem
		border-radius: 50%
		border: 0.1rem solid #ff6c00
		position: relative
		font-size: 2rem
		margin-left: 2rem
		.icon
			fill: #ff6c00
			position: absolute
			top: 50%
			left: 55%
			transform: translate(-50%, -50%)
	&__bottom
		margin-top: 2.1rem
		display: flex
		align-items: center
		justify-content: space-between
		font-size: 1.5rem
		padding-right: 5.6rem
	&__pay-bonus
		color: #0078ff
		+semi

.bonus-earn
	+semi
	display: flex
	align-items: flex-end
	&__icon
		line-height: 0
		margin-right: 0.3rem
		font-size: 2.3rem
		.icon
			fill: #0078ff

.item-modal
	padding: 7.8rem 2rem 2rem
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 11
	background-color: rgba(0,0,0,0.8)
	display: none
	overflow: scroll
	&__title
		font-size: 2.4rem
		color: #fff200
		+semi
		margin-bottom: 0.5rem
	&__desc
		margin-bottom: 4.6rem
		font-size: 1.95rem
		+italic
		color: #FFFFFF
	&__image
		img
			width: 100%
			max-height: 100%

.serving-popup
	width: 80%
	position: fixed
	top: 17rem
	left: 50%
	transform: translateX(-50%)
	border-radius: 0.3rem
	border: 0.15rem solid #000
	padding: 2.1rem
	background-color: #ffffff
	box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.71)
	text-align: center
	font-size: 2.7rem
	color: #fc0000
	line-height: 2
	display: none
	&__close
		text-decoration: none
		position: absolute
		top: 1rem
		right: 1.5rem
		background-color: transparent
		color: #fc0000
		font-size: 1.8rem
	&.is-active
		display: block


