.start-page
	min-height: 100vh
	padding: 15.9rem 3rem 10rem
	overflow: hidden
	&__logo
		width: 90%
		margin: 0 auto 20.4rem
	&__btns
		position: relative
		z-index: 1
		display: flex
		justify-content: space-between
	&__title
		opacity: 0
		animation: fade-start-title 0.5s
		animation-delay: 3s
		animation-fill-mode: forwards
		text-align: center
		position: absolute
		width: 100%
		left: 0
		font-size: 6rem
		top: 7rem
		+semi

@keyframes fade-start-title
	to
		opacity: 1

.login-page
	min-height: 100vh
	padding: 6rem 3rem 5rem
	overflow: hidden
	position: relative
	&__logo
		width: 90%
		margin: 0 auto 0
	&__title
		+regular
		text-align: center
		font-size: 3.2rem
		margin-bottom: 3rem
	&__forget
		text-decoration: none
	&__deco
		position: absolute
		top: 0
		right: 0

.allergen
	margin: 2rem 0
	display: flex
	align-items: flex-start
	&__title
		+semi
		font-size: 2.2rem
		color: #2c2c2c
	&__desc
		font-size: 1.8rem
		+italic
		padding-left: 1.5rem
		color: #383838
	&__icon
		min-width: 6rem
		display: flex
		justify-content: center
		font-size: 4rem
		margin-right: 2rem
		.icon-bread
			font-size: 3rem

.notification
	margin: 4rem 0 10rem
	text-align: center
	&__icon
		margin-bottom: 2rem
		.icon
			fill: #0000ff
			font-size: 20rem
	&__title
		font-size: 3.22rem

.notification-decos
	z-index: -1
	position: absolute
	bottom: 0
	right: 0
	width: 100%
	span
		animation: bubblesCome 2s
		animation-fill-mode: forwards
		background-color: #c6c6c6
		position: absolute
		&:nth-child(1)
			bottom: 16.6rem
			right: 6.2rem
			height: 7rem
			width: 7rem
			border-radius: 50%
		&:nth-child(2)
			bottom: 12.4rem
			right: 13.1rem
			height: 4.9rem
			width: 4.9rem
			border-radius: 50%
		&:nth-child(3)
			bottom: 10.7rem
			right: 6.1rem
			height: 3.2rem
			width: 3.2rem
			border-radius: 50%
		&:nth-child(4)
			bottom: 7.5rem
			right: 0
			height: 5rem
			width: 5rem
			border-radius: 50%
		&:nth-child(5)
			bottom: 0
			right: 17.4rem
			height: 9.3rem
			width: 9.3rem
			border-radius: 50%
		&:nth-child(6)
			bottom: 28rem
			right: 3rem
			height: 2.7rem
			width: 5rem
			transform: rotate(-67deg)
		&:nth-child(7)
			bottom: 22.2rem
			right: 1.6rem
			height: 2.7rem
			width: 2.7rem
			transform: rotate(-27deg)
		&:nth-child(8)
			bottom: 14.4rem
			right: 0
			height: 4.3rem
			width: 4.8rem
		&:nth-child(9)
			bottom: 28.4rem
			right: 10rem
			height: 8rem
			width: 8rem
			background-color: transparent
			border: 0.8rem solid #c6c6c6
			border-radius: 50%

.landing-decos
	z-index: -1
	position: absolute
	bottom: 0
	right: 0
	width: 100%
	animation: bubblesOut 4s
	animation-fill-mode: forwards
	animation-delay: 1.5s
	span
		animation: bubblesCome 2.5s
		//animation-delay: 0.5s
		animation-fill-mode: forwards
		position: absolute
		&:nth-child(1)
			bottom: 5.6rem
			right: -6.3rem
			height: 10.5rem
			width: 10.5rem
			border-radius: 50%
			background-color: #b33df3
		&:nth-child(2)
			bottom: 14.7rem
			right: 3.1rem
			height: 8.9rem
			width: 8.9rem
			border-radius: 50%
			background-color: #ff7282
		&:nth-child(3)
			bottom: 21.1rem
			right: -2rem
			height: 4.8rem
			width: 4.8rem
			border-radius: 50%
			background-color: #7444e8
		&:nth-child(4)
			bottom: 25rem
			right: 5rem
			height: 2.4rem
			width: 2.4rem
			border-radius: 50%
			background-color: #2cb108
		&:nth-child(5)
			bottom: 28.3rem
			right: 1rem
			height: 4rem
			width: 4rem
			border-radius: 50%
			background-color: #e8ea62
		&:nth-child(6)
			bottom: 33rem
			right: 0
			height: 2.7rem
			width: 5rem
			transform: rotate(26deg)
			background-color: #1200ff
		&:nth-child(7)
			bottom: 21.2rem
			right: 11.6rem
			height: 3.3rem
			width: 3.3rem
			background-color: #00ff54
		&:nth-child(8)
			bottom: 27.4rem
			right: 10.4rem
			height: 3.4rem
			width: 3.4rem
			border-radius: 50%
			border: 0.4rem solid #000

@keyframes bubblesCome
	from
		bottom: 0
		right: 0
		opacity: 0
		transform: translate(0) scale(0)
	to
		transform: translate(0) scale(1)
		opacity: 1

@keyframes bubblesOut
	to
		transform: translate(-150%, 0) scale(1.5)
		opacity: 0


.thanks
	margin-top: 4rem
	&__icon
		width: 11rem
		margin: 0 auto 5.4rem
		img
			width: 100%
	&__title
		font-size: 4.7rem
		text-align: center
		margin-bottom: 9rem

.thanks-deco
	z-index: -1
	position: absolute
	bottom: 7rem
	left: 0
	width: 100%
	span
		animation: bubblesComeTop 2.5s
		animation-fill-mode: forwards
		position: absolute
		display: block
		&:nth-child(1)
			top: -6rem
			left: 1.8rem
			height: 10rem
			width: 10rem
			border-radius: 50%
			border: 1rem solid #ff0303
		&:nth-child(2)
			top: -23.9rem
			left: 34.1rem
			height: 13.1rem
			width: 13.1rem
			border-radius: 50%
			border: 1.2rem solid #000000
		&:nth-child(3)
			top: -15rem
			left: 4.8rem
			height: 13.5rem
			width: 13.5rem
			border-radius: 50%
			background-color: #b33df3
		&:nth-child(4)
			top: -2.7rem
			left: 15.3rem
			height: 9.3rem
			width: 9.3rem
			border-radius: 50%
			background-color: #2cb108
		&:nth-child(5)
			top: -6.9rem
			left: 27.2rem
			height: 4.8rem
			width: 4.8rem
			border-radius: 50%
			background-color: #7444e8
		&:nth-child(6)
			top: -15.5rem
			left: 24.1rem
			height: 4.3rem
			width: 4.3rem
			border-radius: 50%
			background-color: #e8ea62
		&:nth-child(7)
			top: -13.8rem
			left: 40rem
			height: 8.6rem
			width: 8.6rem
			border-radius: 50%
			background-color: #ff7282
		&:nth-child(8)
			top: -17.8rem
			left: 27.8rem
			transform: rotate(28deg)
			height: 3.1rem
			width: 5.3rem
			background-color: #1200ff
		&:nth-child(9)
			top: 0
			left: 32.8rem
			height: 5.3rem
			width: 5.3rem
			background-color: #00ff54

.decos
	position: relative
	div
		position: absolute
		animation: bubblesComeTop 2.5s
		animation-fill-mode: forwards
	&__black-ring
		top: 2.4rem
		left: -21rem
		height: 5rem
		width: 5rem
		border-radius: 50%
		border: 0.5rem solid #000
	&__green-square
		top: 17.4rem
		left: -2.7rem
		height: 4.2rem
		width: 4.2rem
		background-color: #00ff54
	&__red-square
		transform: rotate(-13deg)
		top: 5.8rem
		left: -17.8rem
		height: 2.5rem
		width: 6.4rem
		background-color: #ff0000
		z-index: 2
	&__green-circle
		top: 21.6rem
		left: -8.5rem
		height: 4.2rem
		width: 4.2rem
		border-radius: 50%
		background-color: #2cb108
	&__rose-circle
		z-index: 2
		top: 3.7rem
		left: -5.5rem
		height: 5rem
		width: 5rem
		border-radius: 50%
		background-color: #ff7282
	&__violet-circle
		top: 0.3rem
		left: -16rem
		height: 7.6rem
		width: 7.6rem
		border-radius: 50%
		background-color: #5b17ff
	&__purple-circle
		top: 7rem
		left: -9.3rem
		height: 7.3rem
		width: 7.3rem
		border-radius: 50%
		background-color: #b33df3

@keyframes bubblesComeTop
	from
		top: 0
		left: 0
		opacity: 0
		transform: translate(0) scale(0)
	to
		transform: translate(0) scale(1)
		opacity: 1

//@keyframes bubblesOut
//	to
//		transform: translate(-150%, 0) scale(1.5)
//		opacity: 0
