.start-page
	min-height: 100vh
	padding: 15.9rem 3rem 10rem
	overflow: hidden
	&__logo
		width: 90%
		margin: 0 auto 20.4rem
	&__btns
		position: relative
		z-index: 1
		display: flex
		justify-content: space-between

.login-page
	min-height: 100vh
	padding: 6rem 3rem 5rem
	overflow: hidden
	position: relative
	&__logo
		width: 90%
		margin: 0 auto 0
	&__title
		+regular
		text-align: center
		font-size: 3.2rem
		margin-bottom: 3rem
	&__forget
		text-decoration: none
	&__deco
		position: absolute
		top: 0
		right: 0

.decos
	position: relative
	div
		position: absolute
	&__black-ring
		top: 2.4rem
		left: -21rem
		height: 5rem
		width: 5rem
		border-radius: 50%
		border: 0.5rem solid #000
	&__green-square
		top: 17.4rem
		left: -2.7rem
		height: 4.2rem
		width: 4.2rem
		background-color: #00ff54
	&__red-square
		transform: rotate(-13deg)
		top: 5.8rem
		left: -17.8rem
		height: 2.5rem
		width: 6.4rem
		background-color: #ff0000
		z-index: 2
	&__green-circle
		top: 21.6rem
		left: -8.5rem
		height: 4.2rem
		width: 4.2rem
		border-radius: 50%
		background-color: #2cb108
	&__rose-circle
		z-index: 2
		top: 3.7rem
		left: -5.5rem
		height: 5rem
		width: 5rem
		border-radius: 50%
		background-color: #ff7282
	&__violet-circle
		top: 0.3rem
		left: -16rem
		height: 7.6rem
		width: 7.6rem
		border-radius: 50%
		background-color: #5b17ff
	&__purple-circle
		top: 7rem
		left: -9.3rem
		height: 7.3rem
		width: 7.3rem
		border-radius: 50%
		background-color: #b33df3
