.review
	border: 1px solid #616161
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4)
	border-radius: 0.5rem
	background-color: #ADFCFF
	padding: 1rem
	margin: 2rem 0
	&__top
		display: flex
		justify-content: space-between
		margin-bottom: 1rem
	&__title
		font-size: 1.95rem
		+semi
	&__right
		text-align: right
		font-size: 1.2rem
