.review-page
	+coverdiv
	padding: 10rem 1rem 0
	display: flex
	flex-direction: column
	.title-button
		padding: 1rem

.review-items
	flex-grow: 1
	position: relative
	&__wrap
		padding: 1rem 1rem 5rem
		+coverdiv
		overflow: auto

.review
	color: #353535
	border: 1px solid #616161
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4)
	border-radius: 0.5rem
	background-color: #ADFCFF
	padding: 0.3rem 1.2rem 1.5rem
	margin: 2rem 0
	&__top
		display: flex
		justify-content: space-between
		margin-bottom: 1rem
	&__title
		font-size: 1.95rem
		+semi
		margin-bottom: 0.3rem
	&__right
		text-align: right
		font-size: 1.4rem
	&__user
		margin-bottom: 0.8rem
	&__text
		font-size: 1.95rem

.review-rates
	padding: 1rem
	display: flex
	justify-content: space-between
	&__value
		color: #ff6100
		font-size: 12rem
		line-height: 0.7
		margin-bottom: 1.4rem
	&__left
		text-align: center
	&__range
		font-size: 2.5rem
		+semi
		color: #787878
	&__right
		text-align: right
	&__item
		line-height: 1
		display: flex
		align-items: center
		justify-content: flex-end
	&__count
		+semi
		font-size: 2rem
		margin-top: 1rem
	&__visual
		margin-left: 0.2rem
		position: relative
		height: 0.9rem
		min-width: 13.7rem
		border: 1px solid #000
		span
			background-color: #ed8a19
			top: 0
			left: 9px
			height: 100%
			display: block

.stars
	display: flex
	&__item
		opacity: 0.5
		font-size: 1.8rem
		&:not(:last-child)
			margin-right: 0.2rem
		.icon
			font-size: 1.5rem
			fill: #ed8a19
		&.is-active
			opacity: 1

.review-thank
	margin-top: 10rem
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4)
	border-radius: 0.5rem
	background-color: #ADFCFF
	padding: 1rem
	&__title
		text-align: center
		font-size: 2.9rem
		+kaushan
		color: #5a00fe
		margin-bottom: 5rem
	&__link
		text-decoration: none
		color: black
		font-size: 3.23rem
