.icon-address {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-back-icon {
  width: 0.56em;
  height: 1em;
  fill: initial;
}
.icon-bottom {
  width: 1.78em;
  height: 1em;
  fill: initial;
}
.icon-bread {
  width: 1.84em;
  height: 1em;
  fill: #241c24;
}
.icon-cart {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-coin {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-crown {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-egg {
  width: 0.8em;
  height: 1em;
  fill: #241c24;
}
.icon-exit {
  width: 1.29em;
  height: 1em;
  fill: red;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-jingou {
  width: 0.59em;
  height: 1em;
  fill: none;
}
.icon-menu {
  width: 0.63em;
  height: 1em;
  fill: #ff6c00;
}
.icon-minus {
  width: 3.67em;
  height: 1em;
  fill: initial;
}
.icon-notification {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-offers {
  width: 1em;
  height: 1em;
  fill: #252525;
}
.icon-orders {
  width: 0.68em;
  height: 1em;
  fill: #252525;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-prawn {
  width: 0.88em;
  height: 1em;
  fill: #241c24;
}
.icon-right {
  width: 1em;
  height: 1em;
  fill: #1D1D1B;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: #252525;
}
.icon-star {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-support {
  width: 1.05em;
  height: 1em;
  fill: #222;
}
.icon-support1 {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
