.icon-bread {
  width: 1.84em;
  height: 1em;
  fill: #241c24;
}
.icon-egg {
  width: 0.8em;
  height: 1em;
  fill: #241c24;
}
.icon-exit {
  width: 1.29em;
  height: 1em;
  fill: red;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-jingou {
  width: 0.59em;
  height: 1em;
  fill: none;
}
.icon-menu {
  width: 0.63em;
  height: 1em;
  fill: #ff6c00;
}
.icon-notification {
  width: 1.31em;
  height: 1em;
  fill: #252525;
}
.icon-offers {
  width: 1em;
  height: 1em;
  fill: #252525;
}
.icon-orders {
  width: 0.68em;
  height: 1em;
  fill: #252525;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-prawn {
  width: 0.88em;
  height: 1em;
  fill: #241c24;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: #252525;
}
.icon-support {
  width: 1.05em;
  height: 1em;
  fill: #222;
}
